@import "tailwindcss";
.scroll-lock{
      overflow: hidden;
  width: 100%;   
}
@keyframes pulse-subtle {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.85;
    transform: scale(0.98);
  }
}

/* Apply the animation */
.animate-pulse-subtle {
  animation: pulse-subtle 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
} 

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #141414; /* Darker track */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #383838; /* Thumb color */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555555; /* Thumb hover color */
}

/* src/index.css or a global CSS file */
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.dot-animation-1 {
    animation: fadeIn 0.5s ease-in-out infinite alternate;
}
.dot-animation-2 {
    animation: fadeIn 0.5s ease-in-out infinite alternate 0.2s; /* Add a delay */
}
.dot-animation-3 {
    animation: fadeIn 0.5s ease-in-out infinite alternate 0.4s; /* Add another delay */
}